<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펫밀리 > FAQ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/board.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="header :: header"></div>
</head>
<tr th:each="question : ${questionList}">
    <td>[[${question.subject}]]</td>
    <td>[[${question.content}]]</td>
</tr>

</html>