<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펫밀리 > 커뮤니티 > 뉴스</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/board.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="header :: header"></div>
</head>

<body>
<section>
    <div class="board-top-bar">
        <div class="board-top-bar-title">
            커 뮤 니 티
        </div>
        <div class="frame">
            <button class="my-custom-btn my-btn-5"><span><a href="/question/notification">공 지</a></span></button>
            <button class="my-custom-btn my-btn-5"><span><a href="/question/news">뉴 스</a></span></button>
            <button class="my-custom-btn my-btn-5"><span><a href="/question/free">자 유</a></span></button>
            <button class="my-custom-btn my-btn-5"><span><a href="/question/tip">팁</a></span></button>
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<form class="search-only">
    <input type="text" placeholder=" 검색어 입력" name="kw">
    <button class="search-btn">검색</button>
    <button class="write-btn">
        <a href="/question/create">글쓰기</a>
    </button>
</form>

<div class="table-rayout">
    <div class="table-head">
        <div class="th-num">번호</div>
        <div class="th-title">제목</div>
        <div class="th-writer">작성자</div>
        <div class="th-date">작성일</div>
        <div class="th-hit">조회수</div>
    </div>
    <div th:each="question, loop : ${paging}" class="table-body">
        <div class="td-num" th:text="${question.id}">
        </div>
        <div class="td-title">
            <a th:href="@{|/question/free/detail/${question.id}|}" th:text="${question.subject}"></a>
        </div>
        <div class="td-writer">
            <span th:if="${question.author != null}" th:text="${question.author.nickname}"></span>
        </div>
        <div class="td-date" th:text="${#temporals.format(question.createDate, 'MM-dd')}"></div>
        <div class="td-hit" th:text="${question.view}"></div>
    </div>
    <div th:if="${!paging.isEmpty()}" class="btns">
        <button th:classappend="${paging.number == 0} ? 'disabled'" class="paging-btn">
            <a class="page-link" th:href="@{|?page=${paging.number}|}">
                <span><</span>
            </a>
        </button>
        <button th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                th:classappend="${page == paging.number+1} ? 'active'" class="paging-btn">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
        </button>
        <button th:classappend="${!paging.hasNext} ? 'disabled'" class="paging-btn">
            <a class="page-link" th:href="@{|?page=${paging.number+2}|}">
                <span>></span>
            </a>
        </button>
    </div>
</div>
</body>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.btns .paging-btn:first-child a').click(function (event) {
            if (${paging.number == 0}) {
                event.preventDefault(); // 기본 동작(이전 페이지로 이동)을 막음
                alert('이전 리스트를 요청할 수 없습니다. 현재 첫 번째 페이지입니다.');
            }
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.btns .paging-btn:last-child a').click(function (event) {
            if (${paging.number + 1 == paging.totalPages}) {
                event.preventDefault(); // 기본 동작(다음 페이지로 이동)을 막음
                alert('다음 리스트를 요청할 수 없습니다. 현재 마지막 페이지입니다.');
            }
        });
    });
</script>
</html>