<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펫밀리</title>
    <link rel="stylesheet" href="/style.css">
</head>

<script src="https://cdn.tailwindcss.com"></script>

<header class="top-bar">
    <div class="top-bar__in flex">
        <div class="w-0 flex-1 flex items-center pl-6">
            <a href="/">
                <img src="/PETMILY_LOGO.png" alt="PETMILY">
            </a>
        </div>

        <ul class="top-bar__menu">
            <li>
                <a href="#">소개</a>
            </li>
            <li>
                <a href="#">커뮤니티</a>
                <ul>
                    <li><a href="/question/notification"><span>공지</span></a></li>
                    <li><a href="/question/news"><span>뉴스</span></a></li>
                    <li><a href="/question/free"><span>자유 게시판</span></a></li>
                    <li><a href="/question/tip"><span>팁 게시판</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">스토어</a>
            </li>
            <li>
                <a href="#">맵</a>
                <ul>
                    <li><a href="#"><span>병원</span></a></li>
                    <li><a href="#"><span>호텔</span></a></li>
                    <li><a href="#"><span>숙소</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">고객지원</a>
                <ul>
                    <li><a href="/user/QnA"><span>QnA</span></a></li>
                    <li><a href="/user/inquiry"><span>1:1문의</span></a></li>
                </ul>
            </li>
        </ul>

        <div class="w-0 flex-1 flex gap-2 items-center pr-6 justify-end">
            <div class="loginORlogout flex gap-1">
                <a sec:authorize="isAnonymous()" href="/user/login"><button class="custom-btn btn-11">로그인</button></a>
                <a sec:authorize="isAuthenticated()" href="/user/logout"><button class="custom-btn btn-11">로그아웃</button></a>
            </div>

            <div class="profile flex gap-1">
                <a href="#"><img src="/profile.png" alt="PROFILE"></a>
            </div>
        </div>
    </div>
</header>
<body>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, loop : ${paging}">
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <td>
            <a th:href="@{|/question/tip/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${question.hit}"></td>
    </tr>
    </tbody>
</table>
<!-- 페이징처리 시작 -->
<div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link"
               th:href="@{|?page=${paging.number-1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'"
            class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->
    <a th:href="@{/question/create}" class="btn btn-primary">글쓰기</a>
</body>
</html>