<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펫밀리</title>
    <link rel="stylesheet" href="/style.css">
</head>

<script src="https://cdn.tailwindcss.com"></script>
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<body>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, loop : ${questionList}">
        <td th:text="${loop.count}"></td>
        <td>
            <a th:href="@{|/question/free/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${question.hit}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/question/create}" class="btn btn-primary">글쓰기</a>
</div>
</body>
</html>