@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.board-top-bar {
    color: #A5C8A0;
    display: block;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "HakgyoansimWoojuR";
    background: #fff;
}

.board-top-bar > .board-top-bar-title {
    padding-top: 50px;
}

.frame {
    margin: 25px 0;
    padding-top: 25px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: bottom;
    height: 52px;
    border-top: 1px solid black;
}

button {
    margin: 5px;
}

.my-custom-btn {
    width: 130px;
    height: 40px;
    color: #A5C8A0;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .1),
        1px 1px 1px 0px rgba(165, 200, 160, .1),
        1px 1px 1px 0px rgba(165, 200, 160, .1);
    outline: none;
}

/* 5 */
.my-btn-5 {
    font-family: "HakgyoansimWoojuR";
    font-size: 20px;
    width: 100px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.my-btn-5:hover {
    color: #A5C8A0;
    background: transparent;
    box-shadow: none;
}

.my-btn-5:before,
.my-btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #A5C8A0;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.my-btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.my-btn-5:hover:before,
.my-btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.board-top-bar svg {
    position: relative;
    display: block;
    width: 100%;
    height: 88px;
}

.board-top-bar .shape-fill {
    fill: rgb(255, 255, 235);
}

.search-only {
    display: flex;
    height: 35px;
    align-items: center;
    text-align: center;
    justify-content: right;
    margin: 100px 25% 10px 25%;
    width: 50%;
}

.search-only > input {
    height: 35px;
    min-width: 420px;
    width: 780px;
    margin: 0 10px 0 10px;
    font-size: 18px;
    color: black;
    border-radius: 7.5px;
    border: 1px solid black;
    background-color: #fff;
}

.search-only > .choice-category {
    height: 35px;
    font-size: 18px;
    color: black;
    border-radius: 7.5px;
    border: 1px solid black;
    background-color: #fff;
}

.search-only > .search-btn {
    width: 75px;
    height: 35px;
    font-size: 18px;
    color: black;
    margin: 0;
    border-radius: 7.5px;
    border: 1px solid black;
    background-color: #fff;
}

.search-only > .search-btn:hover {
    background-color: #A5C8A0;
}

.table-rayout {
    display: block;
    min-width: 657px;
    margin: 10px 25% 100px 25%;
    border-top: 1px solid #DCAA6E;
}

.table-rayout > .table-head {
    display: block;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #A5C8A0;
}

.table-rayout > .table-body {
    display: block;
    width: 100%;
    font-size: 18px;
}

.table-rayout > .table-body:hover {
    background-color: #fff;
}

.table-rayout > .table-head > .th-num, .th-title, .th-writer, .th-date, .th-hit {
    display: inline-block;
    padding: 10px 5px 10px 5px;
}

.table-rayout > .table-body > .td-num, .td-title, .td-writer, .td-date, .td-hit {
    display: inline-block;
    padding: 10px 5px 10px 5px;
}

.th-num, .td-num {
    margin-right: -3px;
    text-align: center;
    width: 66px;
}

.th-title, .td-title {
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 13px;
    min-width: 332px;
    width: 617.7px;
    border-left: 1px solid #A5C8A0;
}

.td-title {
    font-weight: bold;
}

.th-writer, .td-writer {
    margin-left: -3px;
    margin-right: -3px;
    text-align: center;
    width: 150px;
}

.th-date, .td-date {
    margin-left: -3px;
    margin-right: -3px;
    text-align: center;
    width: 66px;
}

.th-hit, .td-hit {
    margin-left: -3px;
    text-align: center;
    width: 66px;
}

.btns {
    padding: 35px 25px 0 25px;
    font-size: 18px;
    border-top: 1px solid #DCAA6E;
    text-align: center;
}

.paging-btn {
    padding: 0 10px;
}