@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,body {
  position: relative;
  background-color: rgba(255, 255, 235, 1); /*파스텔 아이보리*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "HakgyoansimWoojuR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100vh;
}

body {
  border-radius: 15px;
}

.form-structor {
  background-color: #222;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.05),0 17px 50px 0 rgba(0,0,0,.05);
  border-radius: 15px;
  height: 550px;
  width: 360px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    opacity: .8;
    position: absolute;
    top: 0;right:0;bottom:0;left:0;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -100px;
    background-position-x: -125px;
    background-size: 600px;
    background-image: url('https://img.freepik.com/free-photo/closeup-shot-of-a-cute-dog-playing-with-a-cat-and-isolated-on-white-background_181624-34803.jpg?w=826&t=st=1694133903~exp=1694134503~hmac=15775b23a71c0cab273a2984bd15d2b9770522c40f59bd93b2b1642127d421c2');
  }

  .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all .3s ease;


    &.slide-up {
      top: 5%;
      -webkit-transform: translate(-50%, 0%);
      -webkit-transition: all .3s ease;
    }

    &.slide-up .form-holder,
    &.slide-up .submit-btn {
      opacity: 0;
      visibility: hidden;
    }

    &.slide-up .form-title {
      margin-top: 8px;
      font-size: 1em;
      cursor: pointer;
    }

    &.slide-up .form-title span {
      margin-right: 5px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;
    }

    .form-title {
      color: #fff;
      font-size: 28px;
      text-align: center;

      span {
        color: rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
      }
    }

    .form-holder {
      border-radius: 15px;
      background-color: #fff;
      overflow: hidden;
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;

      .input {
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        height: 33px;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        width: 100%;
        font-size: 16px;

        &:last-child {
          border-bottom: 0;
        }
        &::-webkit-input-placeholder {
          color: rgba(0,0,0,0.35);
        }
      }
    }

    .submit-btn {
      background-color: rgba(0,0,0,0.4);
      color: rgba(256,256,256,1);
      border:0;
      border-radius: 15px;
      display: block;
      margin: 15px auto;
      padding: 10px 45px;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .5s ease;

      &:hover {
        transition: all .5s ease;
        background-color: rgba(0,0,0,0.8);
      }
    }
  }

  .login {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    -webkit-transition: all .3s ease;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -20px;
      -webkit-transform: translate(-50%, 0);
      background-color: #fff;
      width: 200%;
      height: 250px;
      border-radius: 50%;
      z-index: 4;
      -webkit-transition: all .3s ease;
    }

    .center {
      position: absolute;
      top: calc(50% - 10%);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      width: 65%;
      z-index: 5;
      -webkit-transition: all .3s ease;

      .form-title {
        color: #000;
        font-size: 1.7em;
        text-align: center;

        span {
          color: rgba(0,0,0,0.4);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all .3s ease;
        }
      }

      .form-holder {
        border-radius: 15px;
        background-color: #fff;
        border: 1px solid #eee;
        overflow: hidden;
        margin-top: 50px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease;

        .input {
          border: 0;
          outline: none;
          box-shadow: none;
          display: block;
          height: 33px;
          line-height: 30px;
          padding: 8px 15px;
          border-bottom: 1px solid #eee;
          width: 100%;
          font-size: 16px;

          &:last-child {
            border-bottom: 0;
          }
          &::-webkit-input-placeholder {
            color: rgba(0,0,0,0.4);
          }
        }
      }

      .submit-btn {
        background-color: rgba(165, 200, 160, .9);
        color: rgba(256,256,256,1);
        border:0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 10px 45px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .5s ease;

        &:hover {
          transition: all .5s ease;
          background-color: rgba(220, 170, 110, .75);
        }
      }


    }

    &.slide-up {
      top: 90%;
      -webkit-transition: all .3s ease;
    }

    &.slide-up .center {
      top: 10%;
      -webkit-transform: translate(-50%, 0%);
      -webkit-transition: all .3s ease;
    }

    &.slide-up .form-holder,
    &.slide-up .submit-btn {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s ease;
    }

    &.slide-up .form-title {
      font-size: 1em;
      margin: 0;
      padding: 0;
      cursor: pointer;
      -webkit-transition: all .3s ease;
    }

    &.slide-up .form-title span {
      margin-right: 5px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;
    }
  }
}

.hr{
  border-bottom: 1px solid #C8C8C8;
  height:2px;
  margin:12.5px 0 12.5px 0;
}

.social-foot-lnk{
  text-align: center;
}

.social-container {
  text-align: center;
  margin-top: 12.5px;
  margin-bottom: -66px;
}

/* 소셜 로그인 */
.social-container a {
	border: 1px solid #C8C8C8;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 7.5px;
	height: 35px;
	width: 35px;
}