@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
  font-family: "HakgyoansimWoojuR";
}

body {
  background-color: rgba(255, 255, 235, 1);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  transition: height 0.5s;
  z-index: 10000;
  overflow: hidden;
}

.top-bar__in {
  height: 100px;
  border-bottom: 1px solid transparent;
}

.top-bar:hover {
  height: 300px;
}

.top-bar:hover > .top-bar__in {
  border-bottom-color: #afafaf;
}

.top-bar-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: background-color 0.5s, visibility 0.5s;
  visibility: hidden;
}

.top-bar:hover + .top-bar-bg {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

body {
  padding-top: 100px;
}

:root {
  --con-max-width: 1200px;
}

.con {
  max-width: var(--con-max-width);
  margin-left: auto;
  margin-right: auto;
}

.btn-online-shop {
  border: 1px solid #afafaf;
  padding: 10px;
  border-radius: 20px;
}

.top-bar__menu {
  display: flex;
}

.top-bar__menu > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}

.top-bar__menu > li > a::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  transition: width 0.5s;
}

.top-bar__menu > li:hover > a::after {
  width: 100%;
}

.top-bar__menu > li > ul {
  margin-top: 20px;
}

.top-bar__menu > li > ul > li > a {
  display: block;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.top-bar__menu > li > ul > li > a > span {
  position: relative;
}

.top-bar__menu > li > ul > li > a > span::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  transition: width 0.5s;
}

.top-bar__menu > li > ul > li:hover > a > span::after {
  width: 100%;
}

.top-bar:hover .top-bar__menu > li > ul {
  display: block;
}

@media (max-width: 1400px) {
  .top-bar__menu > li > a {
    padding: 0 10px;
  }
}

.top-bar,
body {
  min-width: 1200px;
}

/* custom btn start */

button {
  margin: 20px;
  outline: none;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: "HakgyoansimWoojuR";
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
}

/* 11 */
.btn-11 {
  overflow: hidden;
  color: black;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: rgba(225, 225, 225, .3);
  color: black;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: black;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* custom button end */