<html lnag="ko">

<head>
    <meta charset="UTF-8">
    <title>팻밀리 > 맵</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ey84cumz9a"></script>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/map.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="header :: header"></div>
</head>
<section>
    <div class="board-top-bar">
        <div class="board-top-bar-title">
            지 도
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<body>
<div id="map" class="map"></div>
</body>
<script src="map.js"></script>
</html>