<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>펫밀리 > 글 작성</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/question_form.css}" rel="stylesheet" type="text/css"/>
    <div th:replace="header :: header"></div>
</head>

<body>
<section>
    <div class="board-top-bar">
        <div class="board-top-bar-title">
            커 뮤 니 티
        </div>
        <div class="frame">
            <h4>글 쓰 기</h4>
        </div>
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<div layout:fragment="content" class="container">
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="board" class="form-label">글유형</label>
            <select name="choice" th:field="*{board}" id="choice" class="choice-category" tabindex="-1">
                <option value="자유 게시판" selected="selected" th:field="*{board}">자유 게시판</option>
                <option value="팁 게시판" th:field="*{board}">팁 게시판</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>